@charset "UTF-8";

@font-face {
    font-family: 'Aldo';
    src: url("../fontes/AldotheApache.ttf") format('opentype');
}

@font-face {
    font-family: 'Koulen';
    src: url("../fontes/Koulen-Regular.ttf") format('opentype');
}

:root{

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Aldo', 'cursive';
    --fonte-menu: 'Koulen', 'cursive';
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    min-height: 90vh;
}

header{
    position: relative;
    margin: auto;
    background-color: black;
    color: white;
    text-align: center;
    height:230px;

}

h1{
    font-family: var(--fonte-destaque);
    padding: 10px;
}
header > h1{
    font-size: 5em;
    width: 700px;
    position: absolute;
    left: 50%;
    top: 50%;
    font-variant: small-caps;

    transform: translate(-50%, -50%);
}

header > p {
    position: absolute;
    left: 50%;
    top: 75%;
    transform: translate(-50%, -50%);

}

p {
    font-family: 'Nunito', sans-serif;
    font-size: 2em;
    padding: 20px;
    word-spacing: 3px;
    width: 500px;
}

.parallax{
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.445);
}

.normal{
    background-color: white;
    height: 450px;
}

.head{
    font-size: 3em;
    padding: 20px;
}

#img1{
    background-image: url('../img/img8.jpg');
}
#img2{
    background-image: url('../img/img5.jpeg');
}

#img3{
    background-image: url('../img/img6.jpeg');
}


.footer{
    margin-bottom: auto;
    background-color: black;
   text-align: center;
   color: white;

}
